.footer {
  width: 100%;
  min-height: 200px;
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}
.returningPolicy {
  width: 20%;
}
.privacyPolicy {
  width: 20%;
}
p {
  font-size: 1rem;
}
.visaImage {
  width: 100px;
  height: auto;
  object-fit: cover;
  display: block;
}
@media (max-width: 500px) {
  .footer {
    flex-direction: column;
  }
  .returningPolicy {
    width: 80%;
  }
  .privacyPolicy {
    width: 80%;
  }
}
