.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #0077b6;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.cart-lang {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.languageButton {
  cursor: pointer;
  border: none;
  background-color: #004e96;
  color: white;
  padding: 0.7rem 1.5rem;
  border-radius: 25px;
  font: inherit;
  font-weight: 600;
  font-size: 0.8rem;
}
.languageButton:hover {
  background-color: #00245e;
}
@media (max-width: 768px) {
  h1 {
    font-size: 1.3rem;
    margin-top: -0.5rem;
  }
  .header {
    height: 7.5rem;
    flex-direction: column;
    justify-content: center;
    gap: 0.1rem;
  }
  .cart-lang {
    gap: 5px;
  }
}
