.offers {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: offers-appear 1s ease-out forwards;
}

.OffersLoading {
  text-align: center;
  color: white;
}

.OffersError {
  text-align: center;
  color: red;
}

.offers ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes offers-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
