.summary {
  text-align: center;
  max-width: 40rem;
  width: 95%;
  margin: auto;
  margin-top: -25rem;
  position: relative;
  background-color: #90e1efd5;
  color: black;
  border-radius: 14px;
  padding: 1rem;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
  height: 20rem;
}

.summary h2 {
  font-size: 1.7rem;
  margin-top: 0;
}

p {
  font-size: 1.2rem;
  margin-top: 0;
}

.languageButton {
  margin-bottom: 1rem;
  font: inherit;
  font-weight: 600;
  background-color: #00aed1;
  color: white;
  border: 1px solid #00aed1; /* Sets a 2-pixel solid red border */
  cursor: pointer;
  padding: 0.2rem 1rem;
}
.languageButton:hover {
  background-color: rgb(1, 147, 177);
}
